@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-gray);
  font-family: var(--font-family);
  font-size: var(--font-size);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--white);
  box-shadow: 0 0 5px 0 var(--light-gray);
  max-width: 20rem;
  min-height: 31rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}
.card > img {
  border-radius: 0.75rem;
}
.card > h1 {
  margin-top: 1.5rem;
  color: var(--dark-blue);
  font-size: 22px;
}
.card > p {
  flex: 1;
  color: var(--grayish-blue);
  padding: 0 1rem;
  margin-top: 1rem;
  letter-spacing: 0.015em;
}
/* attribution */
.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: var(--dark-blue);
}
