@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: 178, 100%, 50%;
  /* neutral */
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --font-family: "Outfit", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue-main-bg);
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-size);
  color: var(--white);
  padding: 1.5rem;
}

.card {
  background-color: var(--very-dark-blue-card-bg);
  max-width: 21.75rem;
  padding: 1.5rem;
  min-height: 37rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.5rem 0.25rem var(--very-dark-blue-main-bg);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}
.card > h1 {
  font-size: 22px;
  font-weight: var(--font-semibold);
  letter-spacing: 0.01em;
  cursor: pointer;
}
.card p {
  color: var(--soft-blue);
}
.card > p {
  font-weight: var(--font-light);
  line-height: 1.5;
}
.card b {
  color: hsl(var(--cyan));
}
.card > hr {
  border-color: var(--very-dark-blue-line);
  background-color: var(--very-dark-blue-line);
}
.card-image {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  display: inline-flex;
}
.card-image > img {
  width: 100%;
  object-fit: cover;
}
.preview {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(var(--cyan), 0.5);
  transition: all 0.1s ease-in-out;
}
.preview > img {
  cursor: pointer;
}
.card-image:hover > .preview {
  opacity: 1;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.card-info > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card-author {
  display: flex;
  gap: 1rem;
  font-size: 16px;
  letter-spacing: 0.01em;
}
.card-author a {
  color: var(--white);
  text-decoration: none;
}
:is(.card-author a, .card > h1):hover {
  color: hsl(var(--cyan));
}
/* attribution */
.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: #000;
}
