@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

@tailwind utilities;
@tailwind base;

:root {
  --font-family: 'Outfit', sans-serif;
  --font-size: 1rem;
  --font-weight: 300;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}
