@tailwind utilities;
@tailwind base;

/* :root {
  --font-family: 'Nunito Sans', sans-serif;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
} */

/* body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  min-height: 100vh;
} */
